## AIRPLANE CRASHES AND FATALITIES 

* Plot a map of all flight routes
* Analyze what type of aircraft is involved in the most crashes
* Identify patterns in where/when crashes occur
* Identify patterns in % of fatalities over the total Aboard.

In [6]:
## importing libraries
import pandas as pd
import numpy as np
import sklearn
import matplotlib as matplot

In [15]:
## Reading dataset 
df = pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908.csv',sep = ',')
df.head()

,index,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

# Fatures Description
* index: the index of the row
* Date: the date of the incident
* Time: the time of the incident
* Location: the location of the incident
* Operator: the operator of the aircraft
* Flight : the flight number of the aircraft
* Route: the route of the aircraft
* Type: the type of aircraft
* Registration: the registration of the aircraft
* cn/In: the construction number/serial number of the aircraft
* Aboard: the number of people on board the aircraft
* Fatalities: the number of fatalities in the incident
* Ground: the number of people on the ground killed in the incident
* Summary: a summary of the incident

## EXPLORATORY ANALYSIS

In [31]:
df.count()
df.shape
df.dtypes

index             int64
Date             object
Time             object
Location         object
Operator         object
Flight #         object
Route            object
Type             object
Registration     object
cn/In            object
Aboard          float64
Fatalities      float64
Ground          float64
Summary          object
dtype: object

##### Removing useless features such as flight number and serial

In [ ]:
df = df.remove